[Unit]
Description=ArgosD service
After=network-online.target

[Service]
ExecStart=/opt/argosd/.virtualenv/bin/python /opt/argosd/main.py
PIDFile=/var/run/argosd.pid
Restart=always
RestartSec=30
User=argosd
Group=argosd

[Install]
WantedBy=multi-user.target
